@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700&display=swap');

:root {
  --text-color: #333;
  --hover-text-color: blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}

/* Navbar */
.navbar {
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 2px 6px -6px gray;
  border-bottom: 0.5px solid gray !important;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 2px solid black;
}

.navbar-brand {
  font-weight: 700;
  /* letter-spacing: 3px; */
  font-size: 30px;
}

.search-form {
  margin-right: 10px;
  margin-top: 4px;
}
.search-form input {
  border: none;
  border-radius: 0;
}
.search-form button {
  background-color: #000000;
  border-radius: 0;
  color: white;
}

/* Footer */
.footer {
  color: #fff;
  padding: 25px;
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000
  );
  background: linear-gradient(
    to right,
    #434343,
    #000
  );
}

.footer a {
  text-decoration: none;
  color: #fff;
  padding: 0 10px
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #fff;
}


/* Page not found */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}


.product-link {
  text-decoration: none !important;
  color: black !important;
}

.cat-btn {
  padding: 40px 0px;
  font-size: 24px;
  text-transform: uppercase;
}
.cat-btn:hover {
  background-color: #434343;
  color: white;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  color: var(--text-color);
  text-decoration: none !important;
}