
  
  .form-container {
    margin: 0 auto;
    height: 100%;
    max-width: 500px;
    padding: 20px;
  }
  
  .field {
    margin-bottom: 10px;
  }
  
  .input-group {
    width: 100%;
    position: relative;

    input {
      width: 100%;
      height: 50px;
      padding-left: 10px;
      border: 1px solid var(--border-color);
      background-color: #fbfbfb
    }

    input:focus {
      border-color: var(--primary-color);
    }

    input:not(:placeholder-shown) + label,
    input:focus + label {
      top: 0;
      left: 5px;
      font-size: smaller;
    }

    label {
      position: absolute;
      left: 15px;
      top: 50%;
      padding: 0 2px;
      transform: translateY(-50%);
      background-color: #fff;
      transition: .3s linear;
    }

    .icon-eye {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }
  }
  
  .message-error {
    font-size: smaller;
    color: red;
  }

  .form-container button[type=submit] {
    width: 1005;
    margin-top: 10px;
  }

  .spinner {
    animation: spin infinite 4s linear;

    /*You can increase or decrease the timer (5s) to 
     increase or decrease the speed of the spinner*/
  }

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
