.search-container {
    position: relative;
}

.search-result {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 3px #ccc;
}

.result-item {
    padding: 0 20px;
}

.result-item:hover {
    background-color: rgba(0, 0, 0, 0.05)
}

.result-item:not(:last-child) a {
    border-bottom: 1px solid #ddd
}

.result-item .result-item-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px 0;
    font-size: 13px;
    text-transform: none;
}

.result-item:hover .name {
    color: var(--hover-text-color)
}

.result-item .name {
    display: block;
}

.result-item .price {
    display: block;
}

.result-item .img {
    width: 40px;
    object-fit: contain;
}